body{
    font-family: "Raleway";
}


/* Header */
.header{
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 37px;
    padding-bottom: 155px;
}
.logo a{
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.menu{
    list-style: none;
    margin: 0;
}
.menu-item{
   
}
.menu-link{
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.header-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-title{
    margin-top: 200px;
    font-size: 65px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.header-text{
    margin-top: 40px;
    font-size: 22px;
    color: white;
    text-align: center;
    width: 830px;
}
.header-button{
    margin-top: 78px;
    padding: 10px 47px;
    background-color: #e84545;
    border-radius: 2px;
}
.header-button-link{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}


/* Advantages */
.advantages{
    padding-top: 120px;
    padding-bottom: 125px;
}
.advantages-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 30px;
}
.advantages-img{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 20px;
}
.advantages-img_one{
    background-image: url("../img/advantages1.png");
    background-size: 80%;
}
.advantages-img_two{
    background-image: url("../img/advantages2.png");
}
.advantages-img_three{
    background-image: url("../img/advantages3.png");
}
.advantages-img_four{
    background-image: url("../img/advantages4.png");
}
.advantages-img_five{
    background-image: url("../img/advantages5.png");
}
.advantages-img_six{
    background-image: url("../img/advantages6.png");
}
.advantages-item_title{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.advantages-item_text{
    margin-top: 20px;
    font-size: 14px;
    color: #6c7279;
    text-align: center;
}

/* Example */
.example{
    background-color: #2b2e4a;
}
.example-img{
    position: relative;
    height: 350px;

}
.example-img_inner{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.example-img_inner:hover{
    background-color: #d44141;
    opacity: 0.95;
}
.example-img_inner_title{
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}
.example-img_inner_text{
    font-size: 14px;
    color: white;
    margin-bottom: 0;
}
.example-img_one{
    background-image: url("../img/example1.jpg");
}
.example-img_two{
    background-image: url("../img/example2.jpg");
}
.example-img_three{
    background-image: url("../img/example3.jpg");
}
.example-img_four{
    background-image: url("../img/example4.jpg");
}
.example-img_five{
    background-image: url("../img/example5.jpg");
}
.example-img_six{
    background-image: url("../img/example6.jpg");
}
.example-img_seven{
    background-image: url("../img/example7.jpg");
}
.example-img_eight{
    background-image: url("../img/example8.jpg");
}

/* Staff */
.staff{
    padding-top: 100px;
    padding-bottom: 100px;
}
.staff-item{

}
.staff-item_img{
    background-size: cover;
    background-repeat: no-repeat;
    height: 270px;
}
.staff-item_img_one{
    background-image: url("../img/staff1.jpg");
}
.staff-item_img_two{
    background-image: url("../img/staff2.jpg");
}
.staff-item_img_three{
    background-image: url("../img/staff3.jpg");
}
.staff-item_img_four{
    background-image: url("../img/staff4.jpg");
}
.staff-item_title{
    margin-top: 30px;
    font-size: 22px;
    color: #2d3033;
}
.staff-item_position{
    margin-top: 15px;
    font-size: 14px;
    color: #e84545;
    text-transform: uppercase;
}
.staff-item_text{
    margin-top: 25px;
    font-size: 14px;
    color: #6c7279;
    line-height: 25px;
}
.social{
    list-style: none;
    padding-left: 15px;
}
.social-item{
    margin-top: 50px;
    margin-right: 15px;
}
.social .bi{
    color: #e84545;
}


/* Interview */
.interview-img{
    background-image: url("../img/interview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2b2e4a;
    height: 495px;
}
.interview-wrapper{
    background-color: #53354a;
}
.interview-carousel{
    height: 495px;
    width: 750px;
    padding-top: 115px;
    padding-left: 75px;
    padding-right: 155px;
}
.interview-item{
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
}
.interview-text{
    font-family: "Cardo";
    font-size: 36px;
    color: white;
    margin-bottom: 30px;
}
.interview-author{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    color: white;
    text-transform: uppercase;
}


/* Download */
.download{
    padding-top: 100px;
    padding-bottom: 100px;
}
.download-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.download-title{
    font-size: 28px;
    color: #2d3033;
}
.download-text{
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #2d3033;
    text-transform: uppercase
}
.download-button{
    margin-top: 40px;
    padding: 14px 85px;
    background-color: #e84545;
    border-radius: 2px;
}
.download-button_link{
    text-decoration: none;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}


/* Footer */
.footer{
    padding-top: 70px;
    background-color: #3a3e64;
}
.footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-title{
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.footer-text{
    font-size: 14px;
    color: #6c7279;
    text-align: center;
}
.footer-menu{
    list-style: none;
    display: flex;
    padding: 0;
}
.footer-menu_item{
    border: 2px solid white;
    padding: 5px 10px;
    margin-right: 5px;
}
.footer-menu .bi{
    color: white;
}
.copyright{
    background-color: #313454;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copyright-text{
    font-size: 14px;
    color: #808080;
    margin: 0;
}
.copyright-author{
    font-size: 14px;
    color: white;
}